In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('data.csv')
df

,dispatching_time,distance,courier_service,origin_city,target_city,festive_season,delivery_time
0,2,2000,3,3,2,0,5
1,1,1000,3,3,2,0,4
2,2,1500,3,3,3,0,4
3,1,750,3,3,3,0,3
4,1,800,2,2,3,0,5
5,1,800,2,3,2,0,5
6,2,750,2,2,3,0,6
7,2,50,2,3,2,0,4
8,2,60,3,3,2,0,3
9,2,20,3,3,3,0,3
10,1,15,3,3,3,0,2

In [3]:
model = LinearRegression()
model.fit(df[['dispatching_time','distance','courier_service','origin_city','target_city','festive_season']],df['delivery_time'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
int(round(model.predict([[2,2500,1,3,1,0]])[0]))

8